* text=auto
*.R text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.awk text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.tsv text eol=lf
*.cff text eol=lf
*.pdf binary
